{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block style %}
  <!-- OWN CSS -->
  <link rel="stylesheet" href="{% static 'generic/index_style.css'%}" />
{% endblock %}

{% block title %}Miroslav Apartmany & Studia{% endblock %}

{% block content %}
{% trans 'Save' as save %}
{% trans 'Previous' as previous %}
{% trans 'Next' as next %}

  <!-- HEADER SHOWCASE -->
  <div class="container">
    <header class="v-header v-container">
      <div class="fullscreen-video-wrap">
      </div>
      <div class="header-overlay"></div>
      <div class="container h-100">
        <div class="row video h-100 d-flex justify-content-lg-between justify-content-center">
          <div class="col-12  header-content d-md-inline-flex align-items-center align-self-center">
            <div class="header-image">
              <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837727/index/trip_rfrfb6.png" alt="Tripadvisor Logo" class="mb-md-0" id="tripadvisor">
            </div>
            <div class="header-text">
                <h1>{% blocktrans %}Relax in the forrest<br>not the village{% endblocktrans %}</h1>
                <p class="d-none d-lg-block" style="max-width: 75%;">
                  {% blocktrans %}Modern accomodation with sauna in the heart of the Demanovska Valley, just a stone's throw away from Jasna Chopok ski center{% endblocktrans %}
                </p>
                <a class="btn btn-header btn-md" href="{% url 'contact' %}" role="button">{% trans 'Reserve Now' %}</a>
              </div>
          </div>
          {% comment %}
          <div class="d-none d-lg-block col-lg-4 col-xl-3 align-self-end p-0 pl-5">
            <div class="dl">
              <div class="brand align-items-center">
                <h2 class="m-0">{% blocktrans %}Jasná<br>Ski Pass{% endblocktrans %}</h2>
              </div>
              <div class="discount alizarin py-1">
                ~ 20%
                <div class="type">
                    {% trans 'discount' %}
                </div>
            </div>
              <div class="descr">
                {% blocktrans %}We offer special prices on 6 day ski passes for adults, seniors, juniors and children.{% endblocktrans %}
                <a class="btn btn-header btn-sm mt-2" href="{% url 'prices_and_faqs' %}" role="button">{% trans 'Learn more' %}</a>
              </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </header>
  </div>
  

  <!-- SECTION WHY US -->
  <div class="container">
    <div class="section-1 mt-5 mb-5">
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 header-line d-none d-sm-block">
            <hr class="bar" />
        </div>
        <div class="col-12 col-sm-6 header-line ">
            <h2>{% blocktrans %}Why staying at Miroslav Apartmany & Studia{% endblocktrans %}</h2>
        </div>
        <div class="col-12 col-sm-3 header-line">
          <hr class="bar" />
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <p>
          {% blocktrans %}Our accommodation facility with sauna, surrounded by a river, trees and a spacious garden is located in the opening of one of the most beautiful valleys in Slovakia - Demanovska valley in Low Tatras - at the end of which, there's a well-known ski-centre JASNA Chopok. We are also close to the biggest Aquapark in Slovakia - Tatralandia. In summer, hiking and mountain biking is highly sought after in this area.{% endblocktrans %}
        </p>
      </div>
    </div>

    <!-- SAUNA -->
    <div class="row flex-wrap justify-content-center mb-5">
      <div class="col-12 col-lg-4 mb-4">
        <div class="card why-cards text-center h-100">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837724/index/why1_sw9htr.jpg" alt="Sauna">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">{% trans 'SAUNA' %}</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">
              {% blocktrans %}Since early 2019 we offer our guests a private stay in a modern sauna and a relaxation room with fireplace. Cooling down is enabled by direct access to the river Demanovka that flows through our property.{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>

      <!-- PLAYGROUND -->
      <div class="col-12 col-lg-4 mb-4">
        <div class="card why-cards text-center h-100">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837726/index/why2_wwhimb.jpg" alt="Playground">
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">{% trans 'PLAYGROUND' %}</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">
              {% blocktrans %}Our accomodation provides a plenty of entertainment for your kids including a spacious garden, a trampoline, swings and a wooden play house with a slide and sandbox.{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>

      <!-- OUTDOOR FACILITIES -->
        <div class="col-12 col-lg-4 mb-4">
          <div class="card why-cards text-center h-100">
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837723/index/why3_obiiqh.jpg" alt="Outdoor Facilities">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{% trans 'OUTDOOR FACILITIES' %}</h4>
              <hr>
              <!-- Text -->
              <p class="card-text">
                {% blocktrans %}Surrounded by the beautiful forrest of Demanovska Valley our guests can enjoy hanging out at several outdoor sitting areas, 5 grills and 2 firepits right by the river.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>


        <!-- SKI PASSES DISCOUNTS -->
        <div class="col-12 mb-4">
            <div class="card discount-card text-center h-100">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <!-- Card image Large-->
                  <div class="view overlay d-none d-lg-block" style="overflow: hidden; height: 100%; width: 100%;">
                    <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837718/index/why10_zgqxkn.jpg" alt="Sports" style="max-height: 300px; width: auto;">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card image Until Large-->
                  <div class="view overlay d-block d-lg-none">
                    <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837718/index/why10_zgqxkn.jpg" alt="Sports">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-lg-8 pb-4">
                  <!-- Card content -->
                  <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title mb-0">{% trans 'SKI PASSES DEALS' %}</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text">
                      {% blocktrans %}Take advantage of special prices for ski passes of Jasna ski center.{% endblocktrans %}
                    </p>
                  </div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item list-group-item-action mt-0 d-flex justify-content-between"><span class="text-left pr-5">{% blocktrans %}6 DAY SKI PASS ADULTS for 175€ instead of 223€{% endblocktrans %}</span><span class="text-warning text-right align-self-center" style="white-space:nowrap">{{ save|upper }} 48€</span></div>
                    <div class="list-group-item list-group-item-action d-flex justify-content-between"><span class="text-left pr-5">{% blocktrans %}6 DAY SKI PASS JUNIOR/SENIOR for 140€ instead of 179€{% endblocktrans %}</span><span class="text-warning text-right align-self-center" style="white-space:nowrap">{{ save|upper }} 39€</span></div>
                    <div class="list-group-item list-group-item-action d-flex justify-content-between"><span class="text-left pr-5">{% blocktrans %}6 DAY SKI PASS CHILDREN for 125€ instead of 156€{% endblocktrans %}</span><span class="text-warning text-right align-self-center" style="white-space:nowrap">{{ save|upper }} 31€</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- SPORTS -->
        <div class="col-12 col-lg-4 mb-4">
          <div class="card why-cards text-center h-100">
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837748/index/why4_dlsyll.jpg" alt="Sports">
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{% trans 'SPORTS' %}</h4>
              <hr>
              <!-- Text -->
              <p class="card-text">
                {% blocktrans %}We provide storage rooms for your sporting gear (including heated racks for your ski boots), 8 bikes you can rent for free and a simple outdoor workout area.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>

        <!-- LOCATION -->
        <div class="col-12 col-lg-4 mb-4">
          <div class="card why-cards text-center h-100">
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837752/index/location_mmsv6o.png" alt="Sports">
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{% trans 'LOCATION' %}</h4>
              <hr>
              <!-- Text -->
              <p class="card-text">
                {% blocktrans %}You can reach Jasna ski center within 10 minutes either with your own car or with a shuttle bus that stops at our doorstep. We are 10 minutes from Litpovsky Mikulas, 15-25 minutes from Aquaparks Tatralandia and Besenova and 40 minutes from High Tatras.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>

        <!-- PARKING -->
        <div class="col-12 col-lg-4 mb-4">
          <div class="card why-cards text-center h-100">
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837780/index/parking_bj7ai1.jpg" alt="Sports">
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{% trans 'PARKING' %}</h4>
              <hr>
              <!-- Text -->
              <p class="card-text">
                {% blocktrans %}There are numerous car parks directly on our property which all our guests can use for free. As another advantage, you are also able to drive to the Jasna ski resort by your own car.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


  <!-- BACKGROUND PICTURE 1 -->
  <div class="pimg2">
    <div class="pimg-overlay"></div>
    <div class="ptext"></div>
  </div>

  <!-- SECTION ROOMS -->
  <div class="container">
    <div class="section-1 mt-5 mb-5">
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 header-line d-none d-sm-block">
            <hr class="bar" />
        </div>
        <div class="col-12 col-sm-6 header-line ">
            <h2>{% trans 'Apartments and Studios' %}</h2>
        </div>
        <div class="col-12 col-sm-3 header-line">
          <hr class="bar" />
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <p>
          {% blocktrans %}We offer 14 modern and well equipped studios and apartments situated only a few minutes from Jasna Chopok, each with its own kitchen and bathroom. Our apartments are suitable for families as well as for couples. There is an option to have breakfast in the nearby pension (just 50m from us).{% endblocktrans %}
        </p>
      </div>
      <!-- SECTION ROOMS PICTURE BLOCK -->
      <div class="row">
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <!-- SECTION ROOMS - APARTMENTS -->
          <div class="row">
            <div class="col-12">
              <h3 class="mb-4">{% trans 'Apartments' %}</h3>
              <div id="carouselExampleIndicators1" class="carousel slide mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655837849/apartments/apartment_7/a7_1_lshw4d.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655837862/apartments/apartment_11/a11_1_zyru8r.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655837948/apartments/apartment_14/a14_1_fheubd.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">{{ previous }}</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">{{ next }}</span>
                </a>
              </div>
            </div>
          </div>
          <!-- SECTION ROOMS LINKS APARTMENTS -->
          <div class="row align-items-center">
            <div class="col-12 col-sm-8 section-1-text">
              <p>
                {% blocktrans %}Explore the facilities and take a 360° tour through each of our apartments{% endblocktrans %}
              </p>
            </div>
            <div class="col-12 col-sm-4 text-center pt-3 pt-sm-0">
              <a href="{% url 'apartments' %}">
                <button type="button" class="btn btn-primary btn-md section-1-btn">{% trans 'Apartment Tour' %}</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <!-- SECTION ROOMS - STUDIOS -->
          <div class="row">
            <div class="col-12">
              <h3 class="mb-4">{% trans 'Studios' %}</h3>
              <div id="carouselExampleIndicators2" class="carousel slide mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655837954/studios/studio_1/s1_1_fwkmgq.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655837959/studios/studio_2/s2_1_kc54r1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/w_600,c_scale/v1655838004/studios/studio_6/s6_1_phxlv1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">{{ previous }}</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">{{ next }}</span>
                </a>
              </div>
            </div>
          </div>
          <!-- SECTION ROOMS LINKS STUDIOS -->
          <div class="row align-items-center">
            <div class="col-12 col-sm-8 section-1-text">
              <p>
                {% blocktrans %}Explore the facilities and take a 360° tour through each of our apartments{% endblocktrans %}
              </p>
            </div>
            <div class="col-12 col-sm-4 text-center pt-3 pt-sm-0">
              <a href="{% url 'studios' %}">
                <button type="button" class="btn btn-primary btn-md section-1-btn">{% trans 'Studio Tour' %}</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  


  <!-- BACKGROUND PICTURE 2 -->
  <div class="pimg1">
    <div class="pimg-overlay"></div>
    <div class="ptext"></div>
  </div>

  <!-- SECTION SURROUNDINGS -->
  <div class="container">
  <div class="section-1 mt-5 mb-5">
    <div class="row mb-3 align-items-center">
      <div class="col-sm-3 header-line d-none d-sm-block">
          <hr class="bar" />
      </div>
      <div class="col-12 col-sm-6 header-line ">
          <h2>{% blocktrans %}What to do in Demanovska Valley{% endblocktrans %}</h2>
      </div>
      <div class="col-12 col-sm-3 header-line">
        <hr class="bar" />
      </div>
    </div>
    <div class="row mb-5 justify-content-center">
      <p>
        {% blocktrans %}Apartmany & Studia Miroslav are located in Demanovska Valley in Low Tatras, nature's paradise with plenty of possibilities to enjoy your vacation in as relaxed or as active way as you prefer. Besides  being home to the biggest ski center in Slovakia - Jasna Chopok - and to Slovkia's longest cave system, the valley is the perfect starting point for countless hikes, trips to aquaparks Tatralandia and Besenova, thermal spas, historical sites or museums.{% endblocktrans %}
      </p>
    </div>
  </div>

    <div class="row mb-5">
      <div class="col-12-xs col-lg-4 mb-4">
        <a class="h-100" href="{% url 'surroundings' %}" style="text-decoration: none;">
          <div class="card card-image card-surroundings h-100" style="background-image: url('https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837731/index/surrounding1_qquuj3.jpg'); border: 0px;">
            <div class="card-surroundings-overlay d-flex h-100">
              <div class="card-no-surroundings-overlay text-white text-center d-flex align-items-start rgba-black-strong py-5 px-4 h-100">
                <div>
                  <h6 class="purple-text"><i class="fas fa-hiking fa-3x"></i></h6>
                  <div class="card-title-two-liner mb-4 d-flex align-items-center justify-content-center">
                    <h3 class="card-title py-3 font-weight-bold mb-0"><strong>{% trans 'HIKING & CYCLING' %}</strong></h3>
                  </div>
                  <p class="pb-3">
                    {% blocktrans %}Tatra mountains offer a large number of trails for hiking and cycling with different levels of difficulty, from the demanding, which requires a certain degree of preparation to those that are designed for families with children or beginners. Apartmany & Studia Miroslav are the perfect hub!{% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12-xs col-lg-4 mb-4">
        <a class="h-100" href="{% url 'surroundings' %}" style="text-decoration: none;">
          <div class="card card-image card-surroundings h-100" style="background-image: url('https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837731/index/surrounding2_hxuilh.jpg'); border: 0px;">
            <div class="card-surroundings-overlay d-flex align-items-center h-100">
              <div class="card-no-surroundings-overlay text-white text-center d-flex align-items-start rgba-black-strong py-5 px-4 h-100">
                <div>
                  <h6 class="purple-text"><i class="fas fa-skiing fa-3x"></i></h6>
                  <div class="card-title-two-liner mb-4 d-flex align-items-center justify-content-center">
                    <h3 class="card-title py-3 font-weight-bold mb-0"><strong>{% trans 'SKIING' %}</strong></h3>
                  </div>
                  <p class="pb-3">
                    {% blocktrans %}Located just next to the ski resorts of Jasna Chopok Nizke Tatry and Ziarce, you'll be able to minimize travelling time and enjoy your skiing on Slovakia's longest ski slopes even more. We also provide a storage room for all your equipment including heating racks for your ski boots.{% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12-xs col-lg-4 mb-4">
        <a class="h-100" href="{% url 'surroundings' %}" style="text-decoration: none;">
          <div class="card card-image card-surroundings h-100" style="background-image: url('https://res.cloudinary.com/hmzflxvlh/image/upload/w_500,c_scale/v1655837731/index/surrounding3_gbntkj.jpg'); border: 0px;">
            <div class="card-surroundings-overlay d-flex align-items-center h-100">
              <div class="card-no-surroundings-overlay text-white text-center d-flex align-items-start rgba-black-strong py-5 px-4 h-100">
                <div>
                  <h6 class="purple-text"><i class="fas fa-swimmer fa-3x"></i></h6>
                  <div class="card-title-two-liner mb-4 d-flex align-items-center justify-content-center">
                    <h3 class="card-title py-3 font-weight-bold mb-0"><strong>{% trans 'THERMAL' %}</strong></h3>
                  </div>
                  <p class="pb-3">
                    {% blocktrans %}All within 20km, you can find the aquaparks Tatralandia and Besenova, thermal swimming pools in Liptovsky Jan and the recreation centre of Liptovsky Mara dam which together offer a variety of adrenaline watersports activities and opportunities to relax.{% endblocktrans %}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <!-- GOOGLE MAPS -->
  <div class="container-googlemap">
    <iframe class="googlemap" width="1600px" height="300" id="gmap_canvas" src="https:/maps.google.com/maps?q=liptovsky%20mikulas%20demanovska%20dolina%2011&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
{% endblock %}

