{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block style %}
  <!-- OWN CSS -->
  <link rel="stylesheet" href="{% static 'apartmany/surroundings_style.css'%}" />
{% endblock %}

{% block title %}Miroslav Apartmany & Studia{% endblock %}

{% block content %}

  <!-- CARD WRAPER -->

  <!-- HEADER -->

  <div class="pimg">
    <div class="pimg-overlay">
      <div class="row h-100 align-content-center">
        <div class="col-12">
          <div class="header-text text-center justify-content-center">
            <h1>{% trans 'SURROUNDINGS' %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END HEADER -->

  <!-- START SURROUNDING SECTIONS -->
  <div class="container">
    <div class="inner-container pt-5 pb-5">

      <!-- JASNA SKI CENTER -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/jasna_zuv1dg.png" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Jasna Ski Center' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Demänovská Dolina - 10min</p>
                  <a href="{% url 'prices_and_faqs' %}">
                    <button type="button" class="btn btn-primary btn-md section-btn">{% trans 'Learn About Our Discounts!' %}</button>
                  </a>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}The Jasna ski center is an all-year mountain tourism resort, situated in the heart of Low Tatras, in the close proximity of Apartmany & Studia Miroslav. For skiing and snowboarding, there are 44.5 km of slopes and 4.5 km of ski routes available. This winter sports area has become a leading ski destination in Slovakia and is also gaining recognition within Europe. Slopes of all difficulty levels provide both challenging and relaxing experience for everyone The slopes of Chopok are suitable for beginners and families as well as for advanced skiers. With its many marked freeride zones and a snow park, the Jasna Nizke Tatry ski resort is also seeked by freeriders and freestylers.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- TATRALANDIA -->
      <section class="text-center text-lg-right">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex d-lg-none mb-4 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/tatralandia_clwqjx.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Tatralandia' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Liptovský Mikuláš - 15min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Tatralandia is the largest water park not only in Slovakia, but also in Bohemia and Poland. It is located only 15 minutes from Apartmany & Studia Miroslav. Thanks to the source of thermal mineral water, visitors are able to enjoy them throughout the year. In summer, guests can explore 14 different pools and 28 tubes and water slides, as well as a variation of summer events. In winter, visitors can sunbath under the palm trees or have fun in 6 year-round water slides, relax in 10 pools, enjoy beneficial effects of thalassotherapy, regenerate your body in Celtic Sauna World and renew the lost power thanks to the massages and baths in the Wellness Centre throughout the year.{% endblocktrans %}</p>
              </div>
              <div class="col-lg-4 d-none d-lg-flex mb-2 align-items-center">
                <div class="avatar ml-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/tatralandia_clwqjx.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- HURRICANE -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/hurricane_ztt5kh.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Hurricane Factory' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Liptovský Mikuláš - 15min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Experience flying in the Hurrican Factory, the only wind tunnel in Slovakia with wind speed up to 270km/h, located only 15 minutes from Apartmany & Studia Miroslav. The giant glazed chamber has a diameter of 4.3 meters and an incredible height of 14 meters. You are flying at a safe altitude and under the constant supervision of experienced instructors. You do not need any previous experience or special physical fitness. Flying is suitable for all physically healthy people, starting at 5 years of age. The minute at the Hurricane Factory is the equivalent of a plane jump from 4,000 meters.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- LIPTOVSKY MIKULAS -->
      <section class="text-center text-lg-right">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex d-lg-none mb-4 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/mikulas_tcgbrl.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Liptovský Mikuláš' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Liptovský Mikuláš - 15min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Liptovský Mikuláš town situated only 10 minutes from Apartmany & Studia Miroslav, is undoubtedly an attractive tourist destination all-year round. For its colourfulness and maintained houses, the historical centre of the town is very worthwhile for visitors. There are 7 museum expositions and 4 galleries. The historical centre is the pedestrian zone with shops, restaurants, confectioner’s shops, cafés, and with several outdoor sitting places in summer. Pleasant environment, the Fountain Metamorphosis, and the amount of greenery and benches make the pedestrian zone a favourite resting place, enriched with a number of social events throughout the year.{% endblocktrans %}</p>
              </div>
              <div class="col-lg-4 d-none d-lg-flex mb-2 align-items-center">
                <div class="avatar ml-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/mikulas_tcgbrl.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- SLOVENSKY RAJ -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/slovensky_raj_gtjudt.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Slovenský Raj' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Slovenský Raj - 1h 20min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Slovak Paradise Natural Park, not too far from Apartmany & Studia Miroslav, offers about 300 km of hiking trails and several bike trails. Rivers and streams have formed many gorges, canyons, valleys, caves, and waterfalls in the so called Slovak Paradise. One of the most visited routes is "Prielom Hornádu". In the northern part of the Slovak Paradise two main tourist centres of this region are situated: Čingov and Podlesok. They are connected by a 15 km long marked route, leading through the canyon along the Hornád river. Other highlights and most visited places in the park are the Dobšiná Ice Cave and the Suchá Belá Gorge.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- BESENOVA -->
      <section class="text-center text-lg-right">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex d-lg-none mb-4 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/besenova_kumhk9.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Water Park Bešeňová' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Bešeňová - 20min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}The water park of Bešeňová, approximately 20 minutes from Apartmany & Studia Miroslav, offers 9 year-round pools, 4 thermal pools and 5 summer pools with clear water. Kids will also enjoy several water slides. The thermal water of Bešeňová has beneficial effects on the musculoskeletal and breathing systems. It also helps treat mental problems and urologic diseases. Additionally, Bešeňová has a variety of Wellness & Spa offers, including massages, sauna and many more.{% endblocktrans %}</p>
              </div>
              <div class="col-lg-4 d-none d-lg-flex mb-2 align-items-center">
                <div class="avatar ml-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/besenova_kumhk9.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- JASKYNA -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/jaskyna_bxjkdi.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Cave of Liberty and Ice Caves' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Demänovská Dolina - 5min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}The national nature monument of the Demänovské Caves on the northern side of the Low Tatras Mts. is the longest cave system in Slovakia. It is easily possible to reach the caves within a short walk from Apartmany & Studia Miroslav. The Demänovská Cave of Liberty belongs among its dominating caves and it is the most visited cave of Slovakia. It has been captivating the visitors by its rich flowstone fill of various colours, magical flow of underground Demänovka as well as the charming pools for many years. The Demänovská Ice Cave stands out by occurrence of permanent ice fill, bizarre and mighty shapes of underground spaces, rare cave fauna as well as rich history.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- LIPTOVSKY MARA -->
      <section class="text-center text-lg-right">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex d-lg-none mb-4 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/mara_x4ycbu.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Liptovský Mara' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Liptovský Mikuláš - 15min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Passing through the region of Liptov, from Liptovský Mikuláš to Ružomberok, one must notice a huge water area of the dam Liptovská Mara. It is the largest water reservoir in Slovakia in terms of the confined water volume. The most important summer holiday resort on the shores of the Liptovská Mara dam is the village Liptovský Trnovec which is also the favourite of water sport fans. The beach, the renting of sport equipment and excellent conditions for yachting and wind-surfing are the assets of this sought after holiday centre.{% endblocktrans %}</p>
                </p>
              </div>
              <div class="col-lg-4 d-none d-lg-flex mb-2 align-items-center">
                <div class="avatar ml-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832982/surroundings/mara_x4ycbu.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- VLKOLINEC -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832984/surroundings/vlkolinec_orggqj.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Vlkolínec' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Ružomberok - 40min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Vlkolínec, situated in the centre of Slovakia and only about 40 minutes from Aparmany & Studia Miroslav, is a remarkably intact settlement of 45 buildings with the traditional features of a central European village. It is the region’s most complete group of these kinds of traditional log houses, often found in mountainous areas. Vlkolínec has been listed as a UNESCO World Heritage site since 1993, and is one of ten Slovak villages that have been given the status of a folk architecture reservations. This status was granted because the village is an untouched and complex example of folk countryside architecture of the region of the Northern Carpathians.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- BOBSLEIGH -->
      <section class="text-center text-lg-right">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex d-lg-none mb-4 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832984/surroundings/bobsleigh_wn0e7t.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Bobsleigh & Fun Park' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Pavčina Lehota - 5min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}It is not only the first built track in the Liptov region, but also the first runway of this type in Slovakia. The total length of the track is 1000 m and it is the steepest track in our territory, with a total elevation of 120 meters. The maximum speed that can be reached is limited to 45 km/h. During winter, FUN PARK Žiarce currently offers skiing on 3 downhill runs with a total length of 1,130 m. There are 2 ski lifts in operation every year, while in the children's ski nursery there is 1 cable lift. You can reach this area by taking a short walk from Apartmany & Studia Miroslav. {% endblocktrans %}</p>
              </div>
              <div class="col-lg-4 d-none d-lg-flex mb-2 align-items-center">
                <div class="avatar ml-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832984/surroundings/bobsleigh_wn0e7t.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- HIKING AND BIKING -->
      <section class="text-center text-lg-left">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="row pt-5 pb-5">
              <div class="col-lg-4 d-flex mb-2 align-items-center mb-4 mb-lg-0">
                <div class="avatar mx-4 ml-lg-0 mr-lg-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://res.cloudinary.com/hmzflxvlh/image/upload/v1655832983/surroundings/bike_fn1srd.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div class="surroundings">
                  <h2 class="mb-2"><strong>{% trans 'Hiking and Biking' %}</strong></h2>
                  <p class="font-weight-light text-muted"><i class="fas fa-map-pin mr-2"></i>Nízke Tatry - 15min | Vysoké Tatry - 45min</p>
                </div>
                <hr>
                <p class="text-muted mb-4">{% blocktrans %}Tatras are the most visited mountain chain in Slovakia and is a designated transboundary UNESCO biosphere reserve. It offers countless beautiful places to discover by foot or by bike. Apart from 840 km of hiking trails, Low Tatras also offer around 50 cycling routes - for road bike, cross bike and mountain bike. Additionally, High Tatras offer another 600 km of mapped hiking trails and more than 300 km of official cycling trails. Apartmany & Studia Miroslav are the perfect starting point for any hiking or cycling trip in the Tatra mountains.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

  <!-- END SURROUNDINGS SECTIONS -->

{% endblock %}