.section-btn {
  background: var(--primary-text-color);
  color: #fff;
  border: none;
  border-radius: 50px;
}

.section-btn:hover {
  background: rgb(231, 123, 0);
  color: #fff;
}

.surroundings i {
  color: rgba(6, 44, 5, 0.7);
}

/* HEADER PICTURE */
.pimg {
  background-image: url('https://res.cloudinary.com/hmzflxvlh/image/upload/v1655833802/surroundings/surroundings-header_kb0puh.jpg');
  background-size: cover;
  background-position-y: 50%;
  height: 400px;
}

.pimg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 400px;
}

.pimg h1 {
  color: var(--primary-color-light);
}