/* Main Sections */

.section-btn {
  background: var(--primary-text-color);
  color: #fff;
  border: none;
  border-radius: 50px;
}

.section-btn:hover {
  background: rgb(231, 123, 0);
  color: #fff;
}

.surroundings i {
  color: rgba(6, 44, 5, 0.7);
}

/* CARDS */
.content h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary-color-dark);
  margin: 0;
}

.content h3 {
  font-weight: 700;
  color: var(--primary-color-dark);
  margin: 0;
}

.content p {
  margin-top: 0;
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-contact {
  padding: 1rem 2rem;
  color: #fff;
  background: var(--primary-text-color);
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-contact:hover {
  background: rgb(231, 123, 0);
  color: #fff;
}

/* HEADER PICTURE */
.pimg {
  background-image: url(../apartmany/img/gallery.jpg);
  background-size: cover;
  background-position-y: 50%;
  height: 400px;
}

.pimg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 400px;
}

.pimg h1 {
  color: var(--primary-color-light);
}